<launch>

    <node pkg = "joy" type = "joy_node" name = "joy_node"/>

    <include file="$(find hover_joy)/launch/base.launch"/>
    <include file="$(find hover_joy)/launch/detect_no_vision_up.launch"/>

    <node pkg = "hover_joy" type = "jetbot_command_updating.py" name = "jetbot_command_updating" output = "screen"/>

    <node pkg = "hover_joy" type = "jetbot_lidar_sub_updating.py" name = "jetbot_lidar_sub_updating" output = "screen"/>

    <node pkg = "hover_joy" type = "jetbot_yolo_sub_updating.py" name = "jetbot_yolo_sub_updating" output = "screen"/>

</launch>